*,::before,::after {
    box-sizing: border-box;
}
body {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-family: 'Pacifico', cursive;
    

}
.container {
    max-width: 1040px;
    display: flex;
    margin: 20px auto;
    line-height: 35px;
    display: flex;
    
}
.poem{
    display: flex;
    margin: 30px auto;
}

.container:hover {
    background-color: rgb(127, 127, 127);
    transform: scale(1.4);
    
}
